body {
	margin: 0;
	padding: 0;
	background-color: white;
}

.container {
	display: grid;
	position: absolute;
	left: 7.5%;
	top: 7.5%;
	width: 85%;
	height: 180%;
	grid-template-rows: 14vh 3fr 3fr 3fr 3fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'head head'
		'first first'
		'second third'
		'fourth fourth'
		'fifth sixth';
	grid-column-gap: 2.5vw;
	grid-row-gap: 2.5vw;
	padding-bottom: 15vh;
}

.secondaryContainer {
	display: grid;
	position: absolute;
	left: 7.5%;
	top: 7.5%;
	width: 92.5%;
	height: 120%;
	grid-template-rows: 14vh .5fr 1fr 5fr 1fr;
	grid-template-columns: 1fr .7fr .3fr 7.5%;
	grid-template-areas: 
		'head head head .'
		'name name link .'
		'first second second .'
		'third third third third'
		'foot foot foot .';
	grid-row-gap: 2.5vw;
	padding-bottom: 15vh;
}

.aboutContainer {
	display: grid;
	position: absolute;
	left: 7.5%;
	top: 7.5%;
	width: 85%;
	height: 85%;
	grid-template-rows: 14vh 3fr 1fr;
	grid-template-columns: 1.5fr .5fr 4fr;
	grid-template-areas: 
		'head head head'
		'image image bio'
		'caption . icons';
	grid-column-gap: 2.5vw;
	grid-row-gap: 2.5vw;
}

.contactContainer {
	display: grid;
	position: absolute;
	left: 7.5%;
	top: 7.5%;
	width: 85%;
	height: 85%;
	grid-template-rows: 14vh 3fr;
	grid-template-columns: 2fr 4fr;
	grid-template-areas: 
		'head head '
		'title list';
	grid-column-gap: 2.5vw;
	grid-row-gap: 2.5vw;
}

@media (max-width: 700px) {
	.container {
		grid-template-areas: 
			'head'
			'first'
			'third'
			'second'
			'fourth'
			'link';
		grid-template-rows: 1.5fr 3fr 3fr 3fr 3fr 3fr;
		grid-template-columns: 1fr;
		grid-row-gap: 1vh;
	}
	
	.secondaryContainer {
		display: grid;
		position: absolute;
		left: 7.5%;
		top: 7.5%;
		width: 85%;
		height: 85%;
		grid-template-rows: 14vh;
		grid-template-columns: 1fr;
		grid-template-areas: 
			'head'
			'name'
			'first'
			'second'
			'third'
			'fourth';
		grid-column-gap: 2.5vw;
		grid-row-gap: 2.5vw;
		padding-bottom: 15vh;
	}
	
	.aboutContainer {
		display: grid;
		position: absolute;
		left: 7.5%;
		top: 7.5%;
		width: 85%;
		height: 85%;
		grid-template-rows: 14vh 3fr 3fr;
		grid-template-areas: 
			'head'
			'image'
			'bio';
		grid-column-gap: 2.5vw;
		grid-row-gap: 2.5vw;
		padding-bottom: 15vh;
	}
}

.tile {
/*		background-color: white;*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: inherit;
	text-decoration: inherit;
}

.hoverTitle {
	font-size: 2em;
	opacity: 0;
	font-family: "Helvetica Neue";
	font-size: 1.5em;
	font-weight: 400;
	color: white;
	position: relative;
	z-index: 200;
	top: 40%;
	text-align: center;
}

#head {
	width: 100%;
	height: 100%;
	grid-area: head;
}

.headerContainer {		/*	By Default — height: 13.8VH	*/
	display: grid;
	grid-template-columns: 1fr 3fr 2fr 1fr 1fr 1fr;

	width: 100%;
	height: 100%;
}

.headerLogo {
	grid-column: 1;
	width: 100%;
	height: 80%;
	top: 10%;
	position: relative;
	background-image: url(img/logo.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
}

.pink {
	color: #1F386D;
	font-weight: 400;
}

.headerName {
	grid-column: 2;
	width: 100%;
	height: 100%;
}

.headerName .headerText {
	color: #1F386D;
	text-align: left;
}

.headerWork {
	grid-column: 4;
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
}

.headerAbout {
	grid-column: 5;
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
}

.headerContact {
	grid-column: 6;
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
}

.headerText {
	transition: .6s color;
	font-family: "Helvetica Neue";
	font-size: 1.25em;
	font-weight: 300;
	color: #1F386D;
	text-align: right;
	position: relative;
}

.active {
	color: #ffaeae;
	text-decoration: line-through;
}

.headerText:hover {
	transition: .6s color;
	color: #ffaeae;
}

#Pangea {
	grid-area: first;
	background-image: url(img/home/pangea_cover.png);
}

#tag {
	padding: 5%;
	grid-area: third;
}

.tag {
	position: relative;
	width: 100%;
	font-family: "Helvetica Neue";
	font-size: 3em;
	font-weight: 200;
	color: #1F386D;
}

#Unicef {
	grid-area: second;
	background-image: url(img/home/unicef.jpg);
}

#OS {
	grid-area: fourth;
	background-image: url(img/home/os_cover.png);
}

#BHDDH {
	grid-area: fifth;
	background-image: url(img/home/bhddh_cover.png);
}

#MoveOut {
	grid-area: sixth;
	background-image: url(img/home/moveout_cover.png);
}

#name {
	grid-area: name;
	font-family: "Helvetica Neue";
	font-size: 2.5em;
	font-weight: 200;
	color: #1F386D;
}

#ask {
	grid-area: first;
	width: 100%;
	height: 100%;
	margin-right: 2vw;
}

#answer {
	grid-area: second;
	width: 100%;
	height: 100%;
	margin-left: 2vw;
}

#ask p {
	font-family: "Helvetica Neue";
	font-size: 1.25em;
	font-weight: 200;
	color: #1F386D;
}

#answer p {
	font-family: "Helvetica Neue";
	font-size: 1.25em;
	font-weight: 200;
	color: #1F386D;
}

#ask h3 {
	font-family: "Helvetica Neue";
	font-size: 1.25em;
	font-weight: 400;
	color: #1F386D;
}

#answer h3 {
	font-family: "Helvetica Neue";
	font-size: 1.25em;
	font-weight: 400;
	color: #1F386D;
}

#showcase {
	grid-area: third;
	width: 100%;
	height: 100%;
	overflow: hidden;
/*	background-color: red;*/
}

.showcase {
	position: relative;
	width: 100%;
	height: 100%;
}

.carousel-cell {
	height: 100%;
/*	width: 40%;*/
	margin-right: 2vw;
}

.carousel-cell img {
	height: 100%;
}

.is-fullscreen .carousel-cell {
	margin-right: 0 !important;
}

#portfolioLinks {
	grid-area: foot;
	font-family: "Helvetica Neue";
	font-size: 1.25em;
	font-weight: 200;
	color: #1F386D;
	text-align: center;
	padding-top: 5vh;
}

#portfolioLinks a {
	transition: .6s color;
	color: inherit;
}

#portfolioLinks a:hover {
	transition: .6s color;
	color: #ffaeae;
}

#link {
	grid-area: link;
	font-family: "Helvetica Neue";
	font-size: 1.25em;
	font-weight: 200;
	color: #1F386D;
	width: 100%;
	height: 100%;
	text-align: right;
	bottom: 0;
}

.link {
	bottom: 0;
	width: 100%;
	height: auto;
	position: relative;
}

.plyr__video-embed {
	position: relative;
	width: 50vw !important;
	height: 100% !important;
}

#headshot {
	grid-area: image;
	width: 100%;
	height: 100%;
	background-image: url(img/headshot.jpeg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
}

#bio {
	grid-area: bio;
	font-family: "Helvetica Neue";
	font-size: 1.5em;
	font-weight: 200;
	color: #1F386D;
	width: 100%;
	height: 100%;
}

#caption {
	grid-area: caption;
	font-family: "Helvetica Neue";
	font-style: italic;
	font-size: 1em;
	font-weight: 200;
	color: #333333;
	width: 100%;
	height: 100%;
}

#socialIcons {
	grid-area: icons;
	width: 100%;
	height: 100%;
}

#title {
	grid-area: title;
	font-family: "Helvetica Neue";
	font-size: 6em;
	font-weight: 600;
	color: #1F386D;
	width: 100%;
	height: 100%;
}

#list {
	grid-area: list;
	font-family: "Helvetica Neue";
	font-size: 1.5em;
	font-weight: 200;
	color: #1F386D;
	width: 100%;
	height: 100%;
}

#list ul {
	list-style: none;
}

#list li {
	transition: .6s color;
	color: inherit;
	padding-bottom: 5vh;
}

#list li:hover {
	transition: .6s color;
	color: #ffaeae;
	padding-bottom: 5vh;
}
