@charset "UTF-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300');
@font-face {
	font-family: "CooperHewitt-Bold";
	src: url(fonts/CooperHewitt-Bold.woff);
}

@font-face {
	font-family: "CooperHewitt-Semibold";
	src: url(fonts/CooperHewitt-Semibold.woff);
}

@font-face {
	font-family: "CooperHewitt-LightItalic";
	src: url(fonts/CooperHewitt-LightItalic.woff);
}

body {
	width: 100%;
	height: auto;
	/*	overflow: hidden;*/
	/*	height: 100%;*/
	background-color: white;
	margin: 0 auto;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 32px;
	padding-bottom: 20%;
}

.sidebar {
	width: 0;
	height: 0%;
	position: fixed;
	left: 0;
	z-index: 10;
	overflow: hidden;
}

.sidebar-hitbox {
	width: 0%;
	height: 0%;
	position: fixed;
	left: 0;
	z-index: 100;
	opacity: 0;
}

.sidebar-overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	z-index: 50;
	background-color: #ffaeae;
}

.sidebar-overlay p {
	font-family: "CooperHewitt-Bold";
	font-size: 2em;
	color: white;
	padding-left: 10%;
	padding-top: 5%;
}

.back-arrow {
	width: 20%;
	position: absolute;
	left: 35%;
	top: 35%;
}

.content {
	width: 80%;
	height: auto;
	left: 5%;
	position: relative;
	/*	overflow: hidden;*/
	padding-left: 5%;
	padding-top: 5%;
	display: inline-block;
	padding-bottom: 20%;
	/*	length: auto;*/
	float: top;
}

.content-title {
	font-family: "CooperHewitt-Semibold";
	font-size: 2.5em;
	color: #ffaeae;
	width: 95%;
}

.img {
	width: 100%;
	height: auto;
/*	background-color: green;*/
	position: relative;
	display: inline-block;
}

.txt {
	width: 100%;
	height: auto;
	
/*	left: 35%;*/
/*	background-color: yellow;*/
	display: inline-block;
	position: relative;
}

.txt p {
	font-family: "Source Code Pro";
	font-size: 1.25em;
	color: #7f7f7f;
	margin-top: 1%;
	margin-bottom: 5%;
}
.content-image {
	width: 100%;
	/*	left: 20%;*/
	position: relative;
	/*	height: 40%;*/
	height: auto;
	/*	background-color: #ffaeae;*/
	margin-top: 5%;
	display: inline-block;
}

.content-text {
	padding-top: 5%;
	position: relative;
	display: inline-block;
	/*	left: 35%;*/
	width: 100%;
	font-family: "Source Code Pro";
	font-size: 1.25em;
	color: #7f7f7f;
}

.content-text p:first-child {
	margin: 0 auto;
}

.behance-link {
	width: 50%;
	height: 20vw;
	padding-top: 5%;
	position: relative;
}

.behance-link a {
	text-decoration: none;
}

.behance-logo {
	position: absolute;
	width: 50%;
}

.behance-text-container {
	top: 0;
	bottom: 0;
	margin: 0 auto;
}

.behance-text {
	position: relative;
	padding-top: 12%;
	left: 60%;
	font-family: "Source Code Pro";
	font-size: 1em;
	color: #7f7f7f;
}

.behance-text-pink {
	font-family: "Source Code Pro";
	font-size: 1em;
	color: #ffaeae;
	text-decoration: none;
	font-style: italic;
	position: relative;
	left: 60%;
	margin: 0 auto;
	padding-top: 5%;
}

.picture-container {
	position: relative;
	width: 60vw;
	/*	height: 60vw;*/
	display: inline-block;
	padding: 5%;
	left: 5%;
	right: 0;
	margin: 0 auto;
}

.picture {
	margin: 0 auto;
	top: 0;
	bottom: 0;
	width: 100%;
}

.behanceplace-2 {
	padding-bottom: 40%;
}

.title-mobile {
	font-family: "CooperHewitt-Bold";
	font-size: 3.5em;
	color: #ffaeae;
	text-align: center;
	padding-top: 10%;
}

.bottom-bar {
	background-color: #ffaeae;
	height: 10%;
	width: 100%;
	bottom: 0%;
	position: fixed;
	z-index: 100;
}

.mobile-back-arrow {
	height: 80%;
	top: 10%;
	position: absolute;
	left: 5%;
}

.bottom-bar-text {
	font-family: "Source Code Pro";
	font-size: 1em;
	color: white;
	left: 20%;
	top: -30%;
	position: absolute;
}

a {
	padding: 0;
	margin: 0 auto;
	text-decoration: none;
}

#copy {
	width: 15%;
	height: 70%;
	position: absolute;
	left: 42.5%;
	top: 15%;
	/*	animation: blink 1.5s infinite;*/
	z-index: 25;
}

#photo {
	font-family: "CooperHewitt-Bold";
	font-size: 2em;
	color: #ffaeae;
	padding-left: 10%;
	position: absolute;
	z-index: 20;
	bottom: 1%;
	top: 0;
	overflow: hidden;
}

#photo p {
	margin: 0 auto;
}

#photo p:first-child {
	/*	padding-top: 5%;*/
}

#design {
	position: absolute;
	height: 100%;
	width: 100%;
}

@keyframes blink {
	0% {
		background-color: #ffaeae;
	}
	50% {
		background-color: #ffaeae;
	}
	51% {
		background-color: white;
	}
	100% {
		background-color: white;
	}
}